html {
    margin: 0px;
    padding: 0px;
    position: relative;
}
body {
    margin: 0px;
    padding: 0px;
    background: #52d7ff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cloud {
    display: block;
    position: relative;
    width:350px;
    height:120px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    animation: 3s ease-in-out 0s infinite alternate-reverse anim-levitation;
 }
 .cloud::after, .cloud::before{
     content:"";
     position:relative;
     display:inline-block;
     background:inherit;
     border-radius:inherit;
 }
 .cloud::after{
     width:100px;
     height:100px;
     top:-220px;
     left:50px;
 }
 .cloud::before{
     width:180px;
     height:180px;
     top: -70px;
     left:130px;
 }

@keyframes anim-levitation {
    0% {
        transform: 
            translate(0px, 0px) 
            scale(1, 1);
    }
    100% {
        transform: 
            translate(0px, -100px)
            scale(1.1, 1);
    }
}