html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background: #25508C;
}
.page {
    min-height: 100vh;
    height: auto;
    margin: 0px;
    padding: 0px;
}