#page-gallery {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #000000;
}

#page-gallery .photo {
    background-color: #ffffff;
    margin: 8px;
    border-radius: 8px;
    padding: 8px;
}
#page-gallery .photo>div {
    width: 200px;
    height: 300px;
    background: salmon;
}