.xtree-container {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width: 300px;
    height: auto;
    left: -140px;
    margin-left: 50%;
    bottom: 0px;
    background-color: #ffffff11;
}
.xtree-part {
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    margin: -20px auto 0px;
    border-radius: 50%;
    border: 90px solid transparent;
    border-top-width: 0px;
    border-bottom-color: green;
}
.part-top {
    border-width: 60px;
    border-top-width: 0px;
    margin-top: 0px;
}
.part-middle {
    border-width: 120px;
    border-top-width: 0px;
    margin-top: -40px;
}
.part-bottom {
    border-width: 150px;
    border-top-width: 0px;
    margin-top: -70px;
}
.xtree-trunk {
    background-color: brown;
    width: 20px;
    height: 40px;
    margin: -20px auto 20px;
}
.xtree-ground {
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    background-color: snow;
    bottom: -50px;
    z-index: -1;
}

.ball {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    margin-top: -12px;
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: background-color, height, width, margin-left, margin-top, left, top;
    transition-duration: 1s;
}

#ball1 {
    top: 10%;
}
#ball2 {
    top: 20%;
}
#ball3 {
    top: 30%;
}
#ball4 {
    top: 40%;
}
#ball5 {
    top: 50%;
}