#page-gallery-1 {
    position: relative;
    background-color: #25508C;
    overflow: hidden;
}
#page-gallery-1>.grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#page-gallery-1>.grid>.photo {
    width: 100%;
    height: 100%;
    border: 2px solid #25508C;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* transform: skewX(15deg); */
}
#page-gallery-1>.grid>.photo:nth-child(1) {
    background-image: url(./../img/photo2.jpg);
    background-position: left;
}
#page-gallery-1>.grid>.photo:nth-child(2) {
    background-image: url(./../img/photo3.jpg);
    background-position: right;
}
#page-gallery-1>.grid>.photo:nth-child(3) {
    background-image: url(./../img/photo3.jpg);
    background-position: left;
}
#page-gallery-1>.grid>.photo:nth-child(4) {
    background-image: url(./../img/photo2.jpg);
    background-position: right;
}
#page-gallery-1>.center-photo {
    position: absolute;
    display: flex;
    top:0px; left: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#page-gallery-1>.center-photo>.photo {
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(./../img/photo1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #25508C;
}