body {
    font-size: 16px;
    background: #ffffff;
    color: #333333;
}

h2 {
    border-left: #666666 solid 4px;
    padding: 4px 8px;
}

h1.page-title {
    position: relative;
    display: block;
    font-size: 8em;
    text-align: center;
    padding: 1em;
}

a {
    color: #0d3870;
    text-decoration: underline;
    cursor: auto;
}

a:visited {
    color: #420963;
}
  
a:link:active, a:visited:active {
    color: #630963;
}

a.link-button {
    background: #0a71a1;
    color: #ffffff;
    padding: 8px;
}

.anchor-links {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: top;
}
.anchor-links > a {
    text-align: center;
}

.content-block {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2em;
}

.bg-rainbow-1 { background-color: #ff3131; }
.bg-rainbow-2 { background-color: #ff9a26; }
.bg-rainbow-3 { background-color: #fffc31; }
.bg-rainbow-4 { background-color: #38ff31; }
.bg-rainbow-5 { background-color: #31f8ff; }
.bg-rainbow-6 { background-color: #313fff; }
.bg-rainbow-7 { background-color: #e731ff; }

.link-images {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
.link-images>a {
    width: 50px;
    height: 50px;
    margin: 16px;
    background-size: contain;
}

#button-vk {
    background-image: url(https://cdn3.iconfinder.com/data/icons/social-network-icon/112/vk-512.png)
}
#button-facebook {
    background-image: url(https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png);
}
#button-instagram {
    background-image: url(https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-512.png);
}
#button-github {
    background-image: url(https://cdn1.iconfinder.com/data/icons/picons-social/57/github-256.png);
}