html {
    margin: 0px;
    padding: 0px;
    position: relative;
}
body {
    margin: 0px;
    padding: 0px;
    background: #1e2e2e;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.symbol {
    background: #fff;
    color: #111;
    padding: 16px;
    border-radius: 8px;
    animation: TransitionAround 5s infinite linear;
}

@keyframes TransitionAround {
    0% {
        transform: 
            rotate(0deg)
            translate(0px, 0px)
            ;
    }
    15% {
        transform: 
            rotate(0deg) 
            translate(0px, -100px)
            ;
    }
    85% {
        transform: 
            rotate(360deg)
            translate(0px, -100px)    
            rotate(-360deg)
            ;
    }
    100% {
        transform: translate(0px, 0px);
    }
}